{% extends 'base.html.twig' %}

{% block title %}Create a page{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.pictureFile) }}

        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}
{% endblock %}