@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    padding-top: 5rem;
}

.row {
    margin-bottom: 1rem;
}

.picture-container {
    position: relative;

    .piece {
        position: absolute;

        .unrevealed {
            background-color: lightgrey;
            position: relative;
            height: 100%;

            .nb-click {
                display: none;
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
            }

            &:hover {
                opacity: 0.3;

                .nb-click {
                    display: block;
                }
            }
        }
    }
}