{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('page_index') }}">Créer une page</a>
    </div>
    <table>
        <tr>
            <th>Slug</th>
            <th>Vues</th>
            <th>Url</th>
        </tr>
        {% for page in lastPages %}
            <tr>
                <td>{{ page.slug }}</td>
                <td>{{ page.viewCount }}</td>
                <td><a href="viewer/{{ page.slug }}">goto</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
